html,
body,
.fluid-container {
    height: 100%;
}

.flexbox-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

.profile-header-avatar{
    width: 10rem;
    height: 10rem;
    -webkit-border-radius: 10rem;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 10rem;
    -moz-background-clip: padding;
    border-radius: 10rem;
    background-clip: padding-box;
    margin: 7px 5px 5px 5px;
    /* float: left; */
    background-size: cover;
    background-position: center center;
}

